<div class="traffic-card">
    <div class="map">
        <app-map></app-map>
    </div>
    <div class="traffic-details">
        <div class="location-time">
            <app-heading heading = "{{'home' | translate}}" cls="bold"  headingType="h4"></app-heading>
            <div class="time">
                <app-heading heading="12.08"  headingType="h5"></app-heading>
            </div>
        </div>
        <app-heading heading = "{{'lightTraffic' | translate}}"  headingType="h6"></app-heading>
    </div>
</div>