@import "src/styles.scss";

.traffic-card{
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background: var(--card-bg);
    box-shadow: 0rem 0rem 1.5rem 0rem $card-box-shadow;
    backdrop-filter: blur(.375rem);
    height: 100%;
    overflow: hidden;
}
.map{
    width: 100%;
    height: -webkit-fill-available;
}
.traffic-details{
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1.5rem;
}
.location-time{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: .3125rem;
}
.time{
    border-left: .0625rem solid $gray;
    padding-left: 1rem;
}